a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.botao:hover {
    background-color: black;
}